<h2>Student Assignment Planner</h2>

<form method="POST", action="/addTask">
Type of assignment <input name="type"><br>
Course <input name="course"><br>
Due date <input type="date" name="dueDate"><br>
Done  <input name="done" type="checkbox"><br>

Grade <select name="grade">
<option value="A">A</option>
<option value="B">B</option>
<option value="C">C</option>
</select><br>

Comments <input name="comments">
<br>
<input type="submit" value="submit">
